[2013-10-03 01:07] pstch opened #2 "Symbol's function definition is void: mu4e-update-index"
It seems like the mu4e-update-index is no longer present in the mu4e code, at least I cannot find it by myself. mu4e-maildirs-extension cannot update the list manually (when entering 'u' keyboard shortcut). Updating the list works fine when everything is updated ('U' keyboard shortcut)

maildirs-extension version: git last commit 04778805e786070dc7eee5022b9176b4dddf1aa3

mu4e-version: 0.9.8.4

[2013-10-04 06:13] #2 closed, assigned to nobody

[2013-12-30 18:28] agpchil opened #6 "Make variables customizable"
The variables defined with `defvar` should be defined with `defcustom` to allow users to customize. Also, should write the docstring for these variables.

@ayman is doing this changes

[2014-01-01 15:44] #6 closed, assigned to nobody

[2014-01-07 11:43] agpchil opened #8 "Changelog wiki page"
I should add a wiki page to highlight breaking changes and new features between versions.

This way it should be easier for the user to update/fix configs (or delay updates if there are too much breaking changes).

[2014-01-07 11:46] agpchil opened #9 "Update screenshot"
The screenshot needs to be updated to show last changes (parent maildir info/propertize)

[2014-02-05 21:38] ayman opened #10 "error in process filter with mu4e 0.9.9.6pre2 (built from git)"
[code]

Getting this error when using the `mu4e-maildirs-extension` with the latest pull of `mu4e` from https://github.com/djcb/mu.  `mu4e`'s happy without the extension.  Will post more if I can get a better trace of the error.

[2014-02-07 08:08] #10 closed, assigned to nobody

[2014-03-07 16:33] ayman opened #11 "[Feature Request] Remove [u] option from display."
Just a feature request for a configure option that toggles the display of

[code]

in the maildirs list.  To me it just eats real estate.  I figure it should default on but would be nice to turn it off.

[2014-03-14 12:50] #11 closed, assigned to nobody

[2015-03-16 21:25] vlevit opened #13 "mu4e-maildirs-extension-force-update doesn't clear cache"
First of all, thank you for very useful extension.

It appeared that for my setup maildir list was never getting updates, even after pressing `u` in mu4e-main-view. The issue seems to be that I run `mu index` outside of Emacs, so when I press `u` `mu4e-update-index` doesn't find new updates, and the fact that the cache is cleared only in `mu4e-index-updated-hook` which is never called in my case.

[2015-03-17 20:37] agpchil commented on #13
Sorry for the late reply.

I'm glad you liked! :)

About the issue I'm not sure if clearing the cache in `mu4e-maildirs-extension-force-update` will really solve this. Even if you clear the cache there, the view probably won't auto update because `mu4e-update-index` don't call the hooks if the index has not changed (so maybe you'll also have to press `g` or reload mu4e manually to view the changes

[2015-03-17 22:36] vlevit commented on #13
Yes, everything you said does make sense. The issue was that I didn't realize that README and code comments regarding cache update doesn't apply if indexing is done outside of Emacs.

I ended up updating the view in the external script via `emacsclient -e '(my-mu4e-maildirs-update)` (only on index updates) so I don't need to update the view manually.

    (defun my-mu4e-maildirs-update ()
      "C

[2015-03-18 09:53] agpchil commented on #13
Thank you for reporting this issue and posting your workaround! :)

If you don't mind I like to keep this issue open. So I won't forget that I still need to clean the `-force-update` mess and provide the functionality to update the cache and redisplay the view manually.

 Feel free to report again if something not working for you!

[2015-03-18 18:26] vlevit commented on #13
Sure. It would be very nice to have this feature out of the box and even nicer to have it documented. Thank you!

[2015-03-24 09:58] agpchil commented on #13
I just pushed some changes in a `devel` branch to allow `mu4e-maildirs-extension-force-update` clear the cache and redisplay using `universal-argument`. So now using `u` should call the `mu4e-update-index` as before, `C-u u` should clear the cache and `C-u C-u u` should clear the cache and redisplay.

To clear the cache and redisplay in you script you can do something like:
[code]

@vlevit is this

[2015-03-24 22:30] vlevit commented on #13
Yes, it seems to work for me. Thanks!

[2015-04-03 16:10] agpchil commented on #13
I wanted to update the README before merging into master. But didn't expect it would take that long...
Anyway, I just created a PR #14 and merged into master. It should be available in MELPA soon.

Thanks again and feel free to report again if something not working for you!

[2015-04-03 16:13] agpchil commented on #13
I'm closing this now. But if you want to share your script for others feel free to reopen, PR or whatever :)

[2015-04-03 16:14] #13 closed

[2015-04-03 16:15] agpchil commented on #8
Just added a `Changelog` section in README file.

[2015-04-03 16:15] #8 closed

[2015-09-14 15:35] floli opened #15 "Make directory structure more configurable"
My ```~/Mail``` looks like that:
[code]
Therefore I have no multiple accounts, but a folder hierarchy , seperated by ".". It would be great if maildirs-extension would reflect this structure and indent each folder according to its nesting level.

[2015-09-14 17:19] agpchil commented on #15
That can be done! (probably :P)

I can't test this right know but I think you have 2 options:

1. Move the `Archiv.2014 Doctoral Retreat` and `Archiv.2014 LK Oberstdorf` inside `Archiv`. This is probably what this extension expects. The directory structure should be something like this:

[code]

2. Write your own handler. You can customize `mu4e-maildirs-extension-propertize-handler` with your own

[2015-09-14 19:41] floli commented on #15
Ok, I was able to achieve 1) by setting ```sep=/``` within oflfineimap's configuration. Still, maildirs-extension expects this hierarchy:
[code]
It now displays the folder correctly as subfolders of Archive, but the toplevel folders are displayed as different accounts, with a newline between them.

Furthermore, when I move my folder hierarchy into a account subfolder it handles them incorrectly
[c

[2015-09-14 20:05] agpchil commented on #15
The account should be top level directories: `~/mail/account1`, `~/mail/account2`. Not sure what happens If you put `account1` inside a submaildir folder...

It's possible that the function `mu4e-maildirs-extension-get-maildirs` can't get the right hierarchy without the account directory.

If you don't have the same directory structure, maybe it makes more sense to try the option 2. It should allo

[2015-09-14 20:15] floli commented on #15
I have an account folder, below of it are Archive, Bulk. But maildirs-extension seem to have trouble with folders third level folders account/Archive/2014 ....

[2015-09-14 20:29] agpchil commented on #15
Ouch! Sorry, I read that wrong. Maybe I got confused because I didn't see the account folder in your output.
Anyway, that 3rd level could be the problem. I'll try to test that ASAP.

[2015-09-15 07:35] agpchil commented on #15
Do you have `cur`, `new` and `tmp` directories inside `Archiv/`?
Something like this?
[code]

[2015-09-15 09:51] agpchil commented on #15
Well, let me try to explain what's happening here...

This extension adds a custom entry for the parent to query the submaildirs. So in your case `+ Archiv (0/147)` shows the unread and total counts of all the stuff inside `Archiv` and you can enter to see all the mails (incl. submaildirs). The thing is that if you have `cur`, `new` and `tmp` inside `Archiv` that makes it a maildir too. So it conf

[2015-09-16 13:36] agpchil commented on #15
@floli I just pushed an attempt to fix this in `issue-15` branch.
(NOTE: it should work without the account directory too!)

Try with the following setting:
[code]

Set this to prevent extra newlines  if you don't use the account directory:
[code]

Let me know if this works for you!

[2015-09-17 19:12] floli commented on #15
Great! It looks like that now:
[code]
And that's almost like I want it to have!

I haven't set the ```mu4e-maildirs-extension-fake-maildir-separator``` because I was able to configure offlineimap to use / as seperator, which makes more sense to me, too.

The ```mu4e-maildirs-extension-before-insert-maildir-hook``` is run before inserting a maildir and is responsible to put a newline (```mu4e-maild

[2015-09-17 19:40] agpchil commented on #15
The output looks ok to me. What else do you miss?

The `/` separator makes more sense to me too, but I think a lot of people use offlineimap with mu4e... so it's not a bad idea to support it :-)

I think its better to have hooks in general instead of having to redefine functions. So I moved that part into a hook (and the propertize function changed). But you can still disable the hook and redefine

[2015-09-17 19:44] agpchil commented on #15
Ah, I forgot to say that I'll merge this into master once I updated the docs and tested a bit more to see if anything breaks.

[2015-09-18 08:03] floli commented on #15
So I understand you changed the bevaviour regarding multiple maildirs (my Archive dir) only temporarily in the issue-15 branch and will not merge them back to master? I think that's fine for me.

I think, as soon as you merge back this issue can be closed. Regarding special treatment of maildirs ```INBOX``` et.al. I will open another issue.

[2015-09-18 08:47] agpchil commented on #15
Yes, ATM the changes are only in `issue-15` branch but, as I said, I do plan to merge into master :-)
But if you want to use them now you need to manually install the version from `issue-15` branch (no MELPA update until I merge into master, sorry!).

[2015-09-23 17:05] agpchil commented on #15
@floli I merged this changes (and a few more!) into master. It's already on MELPA (but I'll wait a bit before pushing to stable).

[2015-09-24 13:20] agpchil commented on #15
I'm closing this. Thank you for reporting and feel free to open new issues! :-)

[2015-09-24 13:20] #15 closed

[2015-09-29 10:14] mhibti opened #17 "Count command"
Hi every body,
Thanks for this extension.
I have an issue with the count command, which  seems to fail with the message

Unmatched '.

I have many buffers with this expression named mu4e-maildirs-extensionsXXXX...

I'm using mu4e - mu for emacs version 0.9.11 on emacs 25.
Thank you in advance,
Mohamed

[2015-09-29 10:30] agpchil commented on #17
Hi! Thanks for reporting your issue!

Can you tell me which version of `mu4e-maildirs-extension` are you using? installed from `melpa-stable`, `melpa` or manually (git master?)?

[2015-09-29 10:36] agpchil commented on #17
Also, do you have a maildir with a special char like `'`?

[2015-09-29 11:27] mhibti commented on #17
Thanks for this swift reply,
I'm using the elpa version (Package-Version: 20150923.559).
Some of the folders I have may contain special characters because of the french language. However, I customized mu4e-maildirs-extension-custom-list to avoid them.

[2015-09-29 16:57] mhibti commented on #17
The command (redirection) should not work with "/bin/csh". It worked with bash !!

[2015-09-29 18:48] agpchil commented on #17
You're right, looks like (t)csh don't support that redirection. Do you still get the `Unmatched '` error when running with bash?

I'll try to push a fix for this tomorrow.

[2015-09-30 08:20] mhibti commented on #17
No with bash no more errors.

[2015-09-30 09:51] agpchil commented on #17
Ok. But I don't like to require `bash` to make this work so I'll try to fix it anyway :-)

[2015-09-30 13:39] agpchil commented on #17
@mhibti I just pushed a quick fix to master.

With this changes, tcsh shell and maildirs with single quotes should work without customizing. But names with double-quote seems to need some extra escaping...

Should be available in MELPA in a couple of hours.
Let me know if it works for you!

[2015-09-30 13:42] mhibti commented on #17
Il will do as soon as possible!
Thanks

[2015-09-30 14:04] mhibti commented on #17
It didn't work. I guess the problem is not of the precompilation of the double quote  rather then a problem of redirection. The ">dev/null" should be fixed somehow.
I found this which looks similar.

http://stackoverflow.com/questions/23164614/ambiguous-output-redirect-trying-to-send-both-stdout-and-stderr-to-mailx-from

[2015-09-30 14:16] agpchil commented on #17
There was 2 issues:
  1. The maildir was passed via `'%s'`, so if the maildir has a single-quote then it fails with unmatched. Now I changed using mu4e way, that means surrounded with `"%s"` so single-quote should not break (and backslashes and double-quote are escaped, although it needs more escaping to work...).

  2. The unsupported redirection of `stderr`. I changed the handler so it doesn't n

[2015-10-01 08:38] mhibti commented on #17
Hi Andreu,
I tried this morning and it worked. Great !!

[2015-10-01 12:52] agpchil commented on #17
Nice! I'm glad it finally worked :-)

I close this issue but feel free to open new issues if you need.

[2015-10-01 12:52] #17 closed

[2015-10-21 20:04] emacsomancer opened #18 "examples of how to customise the list of maildirs"
I see that there is customisable "mu4e-maildirs-extension-custom-list", which I assume is how one would control which maildirs are shown, and which subdirectories are shown.  Can you provide an example of how to do this?

[2015-10-26 20:02] agpchil commented on #18
Sorry for the late reply!
It looks like I removed the examples for this at some point :(

Anyway, `mu4e-maildirs-extension-custom-list` has the same format as the output of `(mu4e-get-maildirs)`.

You can set it directly with something like this:

[code]

Or using customize `M-x customize-option`.

[2015-10-28 00:21] emacsomancer commented on #18
Thanks, I got it to work via (setq...), I'm not sure of the syntax for
the M-x customise route.

[2015-11-01 07:38] cryoguy opened #19 "Wrong type argument issue with the new version"
I can not seem to implemente Write your own maildir format handler.  Got following error:

error in process filter: propertize: Wrong type argument: numberp, nil
error in process filter: Wrong type argument: numberp, nil

Any thoughts?  Thank for the great work.

Tony
--------------------------------------------
Memory Imprint Studio

[2015-11-02 08:14] agpchil commented on #18
I'm glad it worked! :)
In the `M-x customize` you need to insert strings (using the INS button for adding elements to the list) and then save or apply that customization. But maybe `setq` is easier :)

I'll close this once I fixed the documentation.
Feel free to open new issues if you have more questions or problems!

[2015-11-02 08:26] agpchil commented on #19
Ouch! I think the snippet in the README won't work in the `master` branch. That's because `:unread` and `:total` data are `nil` while the data is being fetch async. I'll try to fix that example.

What do you want to customize using the custom handler?

You can change some of the maildir format using `mu4e-maildirs-extension-maildir-format` and other variables. But documentation is clearly lacking

[2015-11-02 23:26] cryoguy commented on #19
Thanks for your quick reply.   I just want to do some simple formatting so that the unread /total standing out in  mu4e-main frame.  No rush.

Tony

[2015-11-07 10:09] agpchil commented on #19
Sorry for the late reply!

I recommend to use `mu4e-maildirs-extension-maildir-format` and `mu4e-maildirs-extension-maildir-hl-regex` for basic formatting (It's still somewhat limited but should work for simple stuff).

Anyway, the following example for the maildir format handler should work with master version:

[code]

You can set it with:

[code]

[2015-11-16 04:32] cryoguy commented on #19
Thanks, works now!      Tony

[2015-11-16 04:32] #19 closed

[2015-11-24 07:50] nwolfe opened #20 "Bookmark support?"
For each bookmark do a background query and show the unread/total results.
Basically, do the same thing for bookmarks as is done for maildirs.

Would this be reasonable to do, technically?
Or perhaps this is a bit out of scope for this extension?

---

I really like this extension but I tend to have one or two maildirs and then several bookmarks (a.k.a saved searches), and I'd like to see the unre

[2015-11-24 11:01] agpchil commented on #20
This could be a bit tricky but I think it can be done!

The output you want is something like this?

[code]

[2015-11-24 11:41] nixmaniack commented on #20
Oh yes! :+1: for this. Even I have only one maildir, but I have lots of bookmarks based on tags and I was trying to configure this using this package but couldn't figure out using the default search pattern. If this is implemented it'd be awesome!

[2015-11-24 18:10] nwolfe commented on #20
Yes! That would be great.

Thank you for the quick response :metal:

[2015-11-27 09:31] #18 closed

[2015-11-27 09:40] agpchil commented on #20
I pushed the code in the `bookmarks` branch. Can you try and see if it works for you?
I had some ui issues so I changed the way the ui is updated from async to sync (but the data is still fetched async). You should be able to manually refresh the UI while fetching the data by pressing `g` (revert-buffer).

[2015-11-27 09:44] agpchil commented on #20
Forgot to say that the UI will be auto-updated when all the data is fetched.

[2015-11-30 19:03] nwolfe commented on #20
It works!  I didn't try it on an account with a bunch of bookmarks so I can't speak to the performance.
I do have some thoughts though:
* What about a setting to toggle on/off maildirs and bookmark support?

What if I don't want to see the maildirs anymore but instead just the bookmarks?  And I don't want to re-configure my email/mu4e to actually get rid of my maildirs, I just don't want the plugi

[2015-11-30 20:14] agpchil commented on #20
Great!

I have this feature already in my todo list, hope to add it soon :)
It's a bit weird allowing to disable the maildirs section given that was the main purpose of this extension. But hey, why not ;)

(Note: This extension was fetching the data sync before, and was sloooooooow as hell. With the async support things got better but I think the default setting should be not so aggressive.) The U

[2015-12-01 08:42] nixmaniack commented on #20
For me it partially worked or I'm missing something!

<img width="312" alt="screen shot 2015-12-01 at 2 05 49 pm" src="https://cloud.githubusercontent.com/assets/542810/11495929/e12c875c-9834-11e5-9ec4-fad17fdad682.png">

The last 3 bookmarks do have messages in them unread/read. But don't seem to display it correctly. I didn't look at source to understand what's going on behind but I'm assuming y

[2015-12-01 10:59] agpchil commented on #20
Thanks for testing!

`flag:unread` is added for the unread count. But I suspect the problem is the maildir param in the query. Can you post the value of your `mu4e-bookmarks` variable?

[2015-12-01 17:36] nixmaniack commented on #20
I don't use maildir actually in my bookmarks. Following is the value of `mu4e-bookmarks`.
[code]

[2015-12-01 18:15] agpchil commented on #20
Well, I thought the problem was the `maildir:'/*'` that is being used internally for the bookmarks. But I think the issue is that the params of the queries are not properly escaped. Maybe surrounding them with single quotes will work?

[code]
I can't test this right now so let me know if this workaround works for you.

[2015-12-01 18:46] nwolfe opened #21 "Include mu4e configuration in README"
I think it would be helpful to show the corresponding mail directory layout and elisp configuration that produced the screenshot in the README.

I'm having trouble getting mu4e to render the account maildir trees properly. I can fudge some mu4e configuration to make it visually appear correct, but then that breaks the query and always just reads `(0/0)`.

I want it to look like the screenshot in t

[2015-12-01 20:17] nixmaniack commented on #20
Didn't seem to help using single quotes. The query I'm using is correct, actually I can drop the extra `""` I used around `Inbox` so following is same at works.
[code]
The `Inbox` label is in fact `\Inbox`, so mu expects it as `\\Inbox` and hence while passing through mu4e(emacs) we need to escape it.

[2015-12-01 20:23] agpchil commented on #21
Looks like I removed the docs for the directory structure from the README in a previous commit :(
The docs are clearly lacking but I don't think much configuration is needed to make this work. But  feel free to improve them and send me a PR if you want! :)

Directory structure in ~/Mail/

[code]

and index with mu:

[code]

(Note: I'm not sure about this but I think if you already indexed the `~/M

[2015-12-01 20:42] agpchil commented on #20
Well, the query is called in a `shell-command` process, so the shell probably tries to interpret things (like the escape chars)... and kabom! (I didn't debug this yet, but I suspect this is what's happening).

But I'm a bit confused about the `mime:'image/*'`. I thought it would work, what about using escaped double quotes?
`("mime:\"image/*\"" "Messages with images" 112)`

Anyway, I'll try to deb

[2015-12-01 20:46] agpchil commented on #21
Ouch, typo. The mu command should be:
[code]

[2015-12-01 21:00] nwolfe commented on #21
Ok, I tried what you suggested and changed this to be `~/Mail/` instead, blew away ~/.mu, and did `mu index --maildir=~/Mail/`.  I then set the following:
[code]

(As an aside, not sure how hardcoding `mu4e-{drafts,sent,trash}-folder` to a particular account like `/Work/` will really work when I actually have multiple accounts, but I probably don't have this part quite correct)

I didn't change an

[2015-12-01 21:06] nixmaniack commented on #20
Oh does that mean the query executed by `mu4e-headers-search` isn't same in this plugin? I generally use `s` i.e. `mu4e-headers-search` to make my bookmarks' query.

mu4e seems to do it's own escaping while processing queries with `mu4e~proc-escape`.

Executing this directly in `mu4e-headers-search` doesn't return anything, so I assume it won't serve the purpose even if it can rightly find unread/

[2015-12-01 22:05] nixmaniack commented on #20
So using `("mime:'image/*'" "Messages with images" 112)` did turn up with numbers but as I said in previous comment this doesn't work with mu4e and I get nothing on entering that bookmark.

[2015-12-01 22:19] nwolfe commented on #21
Wait...I went to lunch and tried again and now it is correctly rendering the account/maildirs tree! I blame caching somewhere :smile:

I'm still not sure how I will address the hardcoded `mu4e-{drafts,sent,trash}-folder`s.
@agpchil I was hoping to find your `dotfiles` repo so I could peak at your configuration but I don't see one on GitHub...how do you configure these three directories if you have

[2015-12-02 08:38] agpchil commented on #21
I'm glad it's working! :)
Sorry, I don't have my dotfiles published... (yet?)

You can find how to setup for multiple accounts in the official mu manual:
http://www.djcbsoftware.nl/code/mu/mu4e/Multiple-accounts.html

Also be sure to check the mu mailing-list:
https://groups.google.com/forum/#!forum/mu-discuss

(I believe there was a few topics about multiple accounts already)

[2015-12-02 09:08] agpchil commented on #20
Yea, using single quotes was probably a bad suggestion. My fault. Anyway, the above ideas were just trying to find a lucky workaround, this package should handle this without requiring the user extra stuff.

Well, keep in mind this package was only adding the maildirs stuff initially. So there wasn't much of a user-query used. Now with bookmarks things are a bit different...

`mu4e~proc-escape` is

[2015-12-04 07:31] nwolfe commented on #20
I encountered this as well.  I noticed it was the wildcard I had in my search.  The UI wouldn't render correctly even though the bookmark would show the proper results.  The UI would just say `(0/0)`.

For example:
* Good: `list:group.foo.com`
* Bad: `list:group*`

[2015-12-05 17:18] iqbalansari commented on #20
Since you are spawning a shell to get counts, `mu4e~proc-escape` would not help. I think the built-in Emacs function `shell-quote-argument`, is what you need.

I would really love this feature, thanks for working on this.

[2015-12-10 01:02] nwolfe commented on #20
:+1: again - been using this branch for a week or so now with no trouble really.

Only thing that comes to mind is every once in a while everything will update but it will think there are no unread messages; everything will be `(0/X)` and nothing is highlighted. When I jump to a bookmark myself though it seems to fix it and the mu4e home page is rendered with expected unread counts.

I just figure

[2015-12-10 01:08] nwolfe commented on #20
It would be nice if we could fix the regex wildcard issue though https://github.com/agpchil/mu4e-maildirs-extension/issues/20#issuecomment-161898379

For now I'm just spelling out the full list URL like `list:foo.domain.com`, but this is annoying when there are multiple `foo*` lists like `foo-x.domain.com` and `foo-y.domain.com`.

I'd like to be able to capture results from all of `foo-x.domain.co

[2015-12-10 01:14] nwolfe commented on #21
Thank you for the multiple accounts link! I believe I've got it all working as desired now, though I haven't actually added a secondary account yet (just wanted to support multiples from the start).

[2015-12-10 20:02] luisbg opened #22 "Update unread count after reading"
Hi! First of all, this extension makes mu4e's main view so much more useful. Thanks to this I can use mu4e full time.

After I've viewed the headers of a folder and marked a few emails as read (mailing lists) or read them. I go back to the main view with 'q' and mu4-maildirs-extension shows the old unread count.

I need to Update my email to see the real current unread count. Which takes a while s

[2015-12-13 11:47] agpchil commented on #20
It's good to see more people getting involved here :)

I just pushed an attempt to fix this in the `bookmarks` branch. I couldn't test much this so give me some feedback please :)

@nixmaniack I quickly checked the mu4e code again and I see no way to reuse mu4e internals to fetch the counters. `mu4e` launches the `mu server` and listens all the replies and process them. AFAIK, only a single `mu se

[2015-12-13 11:51] agpchil commented on #21
Nice :)

I'll leave this issue open until I restore the docs in the README

[2015-12-13 11:59] agpchil commented on #22
Hi! Thanks for the feedback :)

IIRC the index needs to be updated so the `mu` command can see the changes. You can update only the index using `u` key in the main view (instead of using the default `U` which also fetch the mail that mu4e provides).

You probably can also set a hook to force mu4e to auto-update every time you go to the main view. I haven't tested this, but I believe it should work

[2015-12-13 17:54] nixmaniack commented on #20
@agpchil As @iqbalansari pointed you should be able to use `shell-quote-argument`. He would be better able to explain if you have any specific problems. I've tested following which seems to work perfectly with all my bookmarks(code is adapted from `mu4-alert` for testing purpose)

[code]

I'll checkout the newly pushed fix soon.

[2015-12-13 17:58] luisbg commented on #22
I will set that hook and let you know how it goes.

I use mu4-maildirs-extension from git.

Thanks

[2015-12-13 18:22] agpchil commented on #20
Oh well, I don't feel like implementing a full (and probably faulty) argument parser for that. But if you want to do it go ahead and send a PR afterwards :)

In the meantime, let me know if the latest changes works for you please.

[2015-12-14 06:12] nixmaniack commented on #20
@agpchil It worked only for this
[code]
but not this
[code]
It'd fine if it's not working for last one as it already contains `flag:unread`, but it must work for `"tag:\\\\Inbox"`. Is there a simple way of printing what's getting executed apart from adding debug messages myself?

Following is what should get executed in my case in the shell for expected results if it helps you.
[code]

[2015-12-14 09:45] agpchil commented on #20
There is no extra debug functionality implemented in `mu4e-maildirs-extension` but you can quickly debug/eval anything in emacs anyway :)

If you prefer to add debug messages manually you probably want to add them at the end of the `mu4e-maildirs-extension-fetch` function (the mu command is built there).

[2015-12-14 13:06] nixmaniack commented on #20
I made following changes and it seems to work okay for me. May not be elegant but a hack to make things work.
[code]

<img width="314" alt="bm" src="https://cloud.githubusercontent.com/assets/542810/11781693/82911336-a291-11e5-9efb-21affa1423dd.png">

[2015-12-14 14:46] agpchil commented on #20
Well, I just quickly tried your solution and it's not working for me. I think parsing the arguments based on whitespace is overly optimistic. For example, what happens if a maildir (or another argument) have spaces in the name? or already escaped spaces? (this is the issue I'm probably having, but maybe there are more cases too...)

I think parsing the arguments manually is hard and that's why I s

[2015-12-14 16:09] nixmaniack commented on #20
I totally agree indeed. :smile:
I just checked what queries were getting passed to shell and figured where I need to modify in `mu4e-maildirs-extension-fetch`. It would be better if we quote individual args before creating final command to pass to shell but I didn't try that due to lack of time.

As you can see in the attached screenshot, I'm using the default config of `mu`, also I have maildirs

[2015-12-14 18:54] iqbalansari commented on #20
@agpchil Perhaps it would be better if `mu4e-mu-binary` is used to get path to the `mu`, instead of hardcoding the executable name `mu` in the command. The later assumes that `mu` is in `PATH` and the shell will be able to find it, which is not true for me atleast (I install `mu4e` via el-get).

I tried your `eshell` version as well as @nixmaniack's `shell-quote-argument` version. Both worked fine

[2015-12-15 22:44] nwolfe commented on #20
I just pulled down your latest 2 commits to the `bookmarks`, so I'll keep an eye out for this behavior again and try to come up with a repro case if possible.

@agpchil What's the plan with this stuff now, in terms of a proper package release with bookmark support?  In the meantime I can continue to manually copy/paste the contents into my elpa/ (is there a better way?).

[2015-12-16 08:52] agpchil commented on #20
Well, the bookmarks branch seems to be broken. My latest commits didn't work for @nixmaniack and his changes didn't work for me either. Unfortunatly, I haven't had time to look at this yet.

Honestly, I can't merge this into master if it's not fully working. So things need to be fixed :) After that, if no other issues found, this should be merged into master (aka available in MELPA). And if no iss

[2016-01-11 00:05] sineer commented on #22
Hi,

Thank you for mu4e-maildir-extension plugin! I like it a lot :+1:

I had this issue where even when I updated the index by pressing [u] instead of [U] it did run mu indexing but did not update the header view even too I do have (setq mu4e-headers-auto-update t).

For the record, I'm using ./elpa/mu4e-maildirs-extension-20151126.926 with latest spacemacs devel with emacs-25.0.50.1

So I found

[2016-01-11 18:43] nwolfe commented on #20
@agpchil Could you hide bookmark support behind a variable and mark it as experimental or something?
The current bookmark support works fine for me, and it would be really nice to stop maintaining this snowflake in my elpa/ :smile:

[2016-01-16 10:04] agpchil commented on #20
Sorry for the late reply.

Someone suggested to allow enable/disable the bookmarks and maildirs using variables. That would be nice and we could try to do this by setting the variable as `risky`, but then I fear people would forget about this issue and it won't get fixed anymore :(

My quick fix didn't work for @nixmaniack and his diff didn't work for me :(

Even though his screenshot shows a mail

[2016-01-16 10:18] agpchil commented on #22
@sineer Sorry for the late reply and thanks for the feedback!
 I hope it also worked for @luisbg

I'm a bit confused about this. This extension should only update the main view so the `mu4e-headers-auto-update` should not be related. IIRC the only triggers are the indexing hook and the main mode hook.

[2016-01-25 20:39] nwolfe commented on #20
On the other hand, if more people were exposed to the bookmark functionality you might get some contributions in fixing the problem.  Maybe getting more users involved will help diagnose the problem too.

If the problem we're dealing with is spaces in the names of folders (or something like that), and it's not reliably reproducible (at least it doesn't seem like it from your conversation), then ma

[2016-01-26 08:53] agpchil commented on #20
I just merged this on master with some small changes.

The issue with parsing the arguments is still there so the bookmarks feature is disabled by default. It can be enabled with:

[code]
and the maildirs section can be disabled with:
[code]

Also, `mu4e-mu-binary` is used for the command path (suggested by @iqbalansari).

Feel free to open new issues or contribute.
Thank you!

[2016-01-26 08:56] agpchil commented on #21
I restored the `Directory structure` section in the README.

[2016-01-26 08:57] #21 closed

[2016-01-26 09:01] agpchil commented on #22
@sineer reported this worked so I'm closing this.
Feel free to reopen this issue or open a new one if you need.
Thank you!

[2016-01-26 09:01] #22 closed

[2016-01-26 09:02] #20 closed

[2016-02-11 19:47] gaydenko opened #24 "[rfe] multicolumn layout?"
Hi!

I guess it would be handy to get an opportunity to layout maildirs columns by columns fro left to right as far as for multiple accounts/contexts use case main mu4e screen suddenly becomes a very long narrow stripe :)

[2016-02-20 10:55] agpchil commented on #24
Hi!

Sorry for the late reply.

I think this feature is a bit tricky.
Can you elaborate a bit more please?

First of all, I'm not sure if you meant:

a) to show one account per column
-------------------------------------------------

Simplified example:
[code]

b) to split the account contents in multiple columns
------------------------------------------------------------------------

Simplified

[2016-02-20 11:11] gaydenko commented on #24
@agpchil , hi! You have described by intention is details exactly. It is my fault I didn't do it myself.

In fact, both variants would be great to my taste. Probably, the second is even a little more preferable.

[2016-02-20 14:37] agpchil commented on #24
Before getting into more details, I just want to be sure you are aware of the existing features, that IMHO almost solve the 'too long list of maildirs' problem (excluding the aesthetics part), and confirm that they are not enough for you.

For case a) the most basic alternative could be to just use emacs split buffers and searches. This will give you a multicolumn-like layout. You could make this

[2016-02-20 15:02] gaydenko commented on #24
Andreu <notifications@github.com> writes:

Yes, these steps help to navigate, still, I guess it would be more handy
to get some kind of dashboard just on opening mu4e main view. I see, any
laying out isn't a trivial task, so I'm ready to close the issue if the
task is not lucky to excite your interest :)

Just on the way (a thing is too small for dedicated issue), what do you
thing about replacing

[2016-02-20 15:42] agpchil commented on #24
Thanks for your quick reply :)

Honestly I never seen a mail client that displays the maildirs hierarchy like b) so I wanted to confirm you really wanted this :)

What kind of dashboard? the multi-column layout (like case B) or something different?

Unfortunately I couldn't give this project much love lately...
But I think it's a valid feature request :)

IIRC I think at some point this was possib

[2016-02-20 15:53] gaydenko commented on #24
I just mean we are talking about - this or that - any - way to use
screen width to get overall single-screen-suited view at (possibly) all
accounts.

Yes, of course, such predicate would be sufficient and great!

--

Regards,
Andrew

[2016-03-01 15:15] eigengrau opened #25 "Auto-expand collapsed nodes when using isearch"
Not sure how exactly org-mode does it, but it might be convenient if the maildirs-extension would similarly auto-expand collapsed nodes when a maildir name hidden in a collapsed subtree matches the isearch.

Thanks for making mu4e-maildirs-extension!

[2016-03-01 15:52] agpchil commented on #25
Thanks for your feedback! :)

I don't know how org does either but I think implementing this will be hard because the way this extension displays/hides the nodes (nothing fancy...).

Maybe another option could be to allow inserting the maildirs hierarchy in a different buffer? (eg: in an org-mode buffer). Although the "go to maildir" action would not work...

[2016-03-13 06:55] darkfeline opened #26 "Fails when root is Maildir"
If `mu4e-maildir` is itself a Maildir, `mu4e-maildirs-extension` fails.

[code]

[2016-05-13 13:34] jpfairbanks commented on #26
1. Does "is a mailbox" mean "is a directory containing subdirectories: new, cur, tmp"?
2. If root is a maildir, does that indicate improper initialization of the Maildir directory?

I set things up with OfflineIMAP, but have also used gnus and mu4e with this maildir. I would not be surprised if things got messed up by conflicting settings or initializations.

[2016-05-13 16:02] darkfeline commented on #26
1. Yes, a Maildir is defined by containing those three subdirectories.
2. I don't think so.

For reference, I am using mbsync (isync), but the particular tool shouldn't matter.  The bug happens when

[code]

The key is when `mu4e-maildir` is a Maildir, you can see the `"/"` getting passed through in the stack trace.

[2016-05-19 15:06] jpfairbanks commented on #26
So is there any reason for the root to also be a maildir? I am thinking that a workaround is to remove the cur, new, tmp directories from mu4e-maildir/. But I don't want to do that if there is a good reason for the root to be a maildir.

[2016-05-19 21:55] darkfeline commented on #26
Firstly, because it's misleading that this package breaks if `mu4e-maildirs` is, god forbid, actually set to a Maildir directory.

Secondly, because if a user only has one Maildir, it seems odd to force the user to put that Maildir in a separate directory (e.g., if I have a maildir `~/Maildir`, I have to move it to `~/mail/Maildir`, symlink `~/Maildir` to `~/mail/Maildir`, then point `mu4e-maildir

[2016-06-01 09:39] agpchil commented on #26
Sorry for the late reply!

This extension expects a directory for each account inside `mu4e-maildir`.
So you should have something like this:

[code]

And set `mu4e-maildir` to `~/Mail`

I've not tested this with/alongside GNUS but I think it should work. Maybe you'll need to update GNUS config to point to `~/Mail/myaccount` instead?

[2016-06-08 19:37] kluge opened #28 "Feature request: Only show maildirs with unread messages"
Despite using a search based mail client I'm still archiving my mails into way too many folders...

This means that the current maildir list is much too long. I'd mostly be interested in seeing at a glance which maildirs actually have new messages. So I'd want to limit the list to only the maildirs with unread messages.

Would you be interested in supporting that?

[2016-06-09 17:07] agpchil commented on #28
Contributions are (almost) always welcome here! :)

@gaydenko also reported issues with a large number of maildirs in #24. He suggested a horizontal layout and to hide empty maildirs. Also @punchagan submitted a PR #27 to add a keybinding to jump to a maildir viewing only unread messages. Maybe they'll be interested in some thing like this too.

IMHO, it would be great to add some kind of filterin

[2016-07-26 18:36] deepfire opened #29 "Maildir removal isn't reflected in view"
Total disappearance of a maildir doesn't appear to be reflected until full restart of emacs.

[2016-07-26 18:39] deepfire commented on #29
Sorry, false alarm, this seems to be related to the way local maildir removal is propagated by mbsync -- remotely-initiated removals are reflected properly.  Closing.

[2016-07-26 18:39] #29 closed

[2016-07-26 19:58] deepfire opened #30 "mu4e-maildirs-extension-custom-list changes only effected at emacs restart"
Changing `mu4e-maildirs-extension-custom-list changes` has no visible effect until Emacs is restarted -- even `mu4e` restart has no effect.

[2016-07-27 19:06] agpchil commented on #30
The data is cached until the updated index hook is triggered. To clear the cache and refresh you need to press `C-u C-u u` in the mu4e main buffer.

[2016-07-27 19:46] deepfire commented on #30
@agpchil, this does not seem to correlate with my observations -- `mu4e-update-mail-and-index` certainly doesn't lead to refresh.  Is that the problem?

[2016-07-27 19:57] agpchil commented on #30
I can't look at this now, but IIRC `mu4e-index-updated-hook` is only called if a message has been updated from the index. Not sure why you mention `mu4e-update-mail-and-index` function. Can you confirm if using `C-u C-u u` works for you?

[2016-07-27 20:15] deepfire commented on #30
@agpchil, the reason I mention `mu4e-update-mail-and-index` is UI-related.

As I see it (please, feel free to correct me), _in general_ a mu4e user who is in a process of performing customizations has several methods of making the changes active, in order of descending trouble:

- restarting Emacs
- restarting mu4e
- re-fetching mail (`mu4e-update-mail-and-index`, bound to `U`)

There are many, ma

[2016-07-29 19:18] agpchil commented on #30
Sorry, but I have no idea what exactly are you asking for :(

[2016-09-08 09:40] andersjohansson opened #31 "mu4e-maildirs-extension-load-bookmarks doesn't work with bookmark queries that are expressions"
I just started using the extension. It looks nice!
I see that the bookmarks thing is still experimental and disabled by default, but for some reason, my first run without customising anything (`mu4e-maildirs-extension-use-bookmarks` is nil) runs `mu4e-maildirs-extension-load-bookmarks` which halts with an error:
[code]
This is not very surprising since one of my bookmarks is:
[code]
(a function th

[2016-09-08 09:44] andersjohansson commented on #31
[code]

This seemed to work kind of, but I don't know if the bookmarks display is really right, it shows all messages for that bookmark as unread:
[code]

[2016-09-08 10:50] andersjohansson commented on #31
Ah, `mu4e-maildirs-extension-load-bookmarks` is called regardless of `mu4e-maildirs-extension-use-bookmarks` in `mu4e-maildirs-extension-update`. Do the bookmark counts have to be loaded that early? Isn't that unnecessary if they won't be used?

[2016-09-09 08:39] agpchil commented on #31
Thanks for your feedback!

The bookmarks feature is a WIP but this looks like a bug to me.

As you said, it makes no sense that `mu4e-maildirs-extension-load-bookmarks` is being called when `mu4e-maildirs-extension-use-bookmarks` is nil.

Can you send a PR if you fixed this issue?
Thank you!

[2016-09-11 07:41] #31 closed

[2016-10-13 02:43] runswithd6s commented on #26
I'm also running in to this. My debug info was also added to the mu4e layer issue with spacemacs.

[2016-11-11 15:05] deepfire commented on #30
Sorry, perhaps it's too specific an issue, and so not worth keeping open -- closing it provisionally.

[2016-11-11 15:05] #30 closed

[2016-12-06 10:41] joostkremers opened #34 "After latest commit, maildirs don't update when new mail arrives"
Hi,

Up until the latest commit, 0b7908280c97c1fe29de0d10ac2715344e36b1e4, the new mail counts in mu4e's main buffer would be updated after pressing `u` whenever new mail had arrived. Since that commit, however, I find that that is no longer the case. I need to do `C-u C-u u` in order to make sure that the new mail counts are displayed correctly.

I added the value of `mu4e-maildirs-extension-inde

[2016-12-09 14:43] agpchil commented on #34
Hi! Thanks for the feedback.

Should we set both msg-changed and index-updated hooks at the same time? /cc @j-hao

Also, I don't know if it makes sense to have the `C-u u` variants anymore. Since the fetching is done async now and it's quite fast maybe we should make `u` perform the full update and remove the prefixes ones...

[2016-12-09 14:51] agpchil commented on #26
As I said in the previous comment, this extension expects a directory structure to work. You should be able to configure offlineimap or other software to store your mail in specific directory.

Feel free to send a PR if you implement this feature!

[2016-12-10 04:29] j-hao commented on #34
index-updated hook will run msg-changed hook internally. Wondering if index-updated hook got called when press `u`? I agree maybe it's better to make `u` to perform full update.

[2016-12-11 13:27] j-hao commented on #34
Found the issue. I only added msg-changed hook to index-updated hook within header mode only. Have created a new PR for mu4e to add it globally. Let me know if this fix the issue for you.

[2016-12-19 10:41] agpchil commented on #34
@j-hao Thank you for the quick fix! :)
@joostkremers can you confirm if this fix the issue for you?

[2017-01-11 12:44] ayman commented on #28
I think PR #36 addressed and closed this.

[2017-01-15 15:56] cslux opened #37 "`mu4e` fails when `mu4e-maildirs-extension-use-bookmarks` is `t`"
Hey,

mu4e has a new way to create bookmarks (`make-mu4e-bookmark`). `make-mu4e-bookmark` returns a struct, but this new format is not supported by `mu4e-maildirs-extension`.

Let's assume the variable `mu4e-bookmarks` holds the following value (a mix of old/new bookmarks):
[code]

Calling now `mu4e` would fail with the following error when `mu4e-maildirs-extension-use-bookmarks` is `t` in the fun

[2017-01-17 18:31] runswithd6s commented on #26
My point being, this is optional and should be toggleable at time of inclusion. The bug reported is the experience that multiple users are having around it, who are quite happy with using the mu4e module without this extension.

[2017-01-18 09:48] agpchil commented on #34
Well, I'm closing this as it should be fixed already. Feel free to open again otherwise!

[2017-01-18 09:50] #37 closed

[2017-01-18 09:56] agpchil commented on #28
Thank you @ayman for commenting this!

[2017-01-18 09:56] #28 closed

[2017-01-28 17:52] joostkremers commented on #34
It seems that the variable `mu4e-msg-changed-hook` has been renamed to `mu4e-message-changed-hook`, so commit 0b7908280c97c1fe29de0d10ac2715344e36b1e4 doesn't work anymore.

[2017-02-13 11:33] agpchil commented on #34
Sorry @joostkremers. I'd missed your report.
I reopened this issue to let others know about this.
If anyone fixes this please send a PR!

[2017-02-13 11:56] joostkremers commented on #34
From what I can tell by looking at the `mu4e` git log, it's just a simple rename from `mu4e-msg-changed-hook` to `mu4e-message-changed-hook`, so all that should be necessary is to change the name in the `mu4e-maildirs-extension` source as well.

[2017-02-16 20:03] tychobrailleur commented on #34
I have opened a PR (#39) for this.  As @joostkremers mentioned, the hook was deprecated and renamed message.

[2017-02-17 08:40] #34 closed

[2017-02-17 08:48] agpchil commented on #34
This should be fixed with the PR @tychobrailleur sent. But feel free to reopen or send a new PR otherwise.
Thank you all!

[2017-03-17 17:34] cryoguy opened #40 "Email count does not update?"
I just realize today that my email counts doe not update.  I can get emails from my 3 accounts just fine.  Any hints?  Thanks

[2017-03-17 18:03] agpchil commented on #40
My first thought is that it could be related to #34

[2017-03-17 18:55] cryoguy commented on #40
Thanks, upgrade mu4e and it is all good now.

[2017-05-25 03:58] mnsanghvi opened #41 "mailboxes do not display properly"
I used to have my `(setq mu4e-maildir "~/Mail")` but have changed it to be `~/Mail/sub-dir` now.  Also I used to set it globally and now I set it as part of my mu4e-context.  After making those changes, and changing the paths to folders to make them relative to the new `mu4e-maildir` setting,  I now get the mailboxes displayed as shown in the attachment below.  The line gaps did not used to exist

[2017-05-25 06:19] agpchil commented on #41
The UI glitch you're getting (missing top-level account name, gaps, etc) is probably due to some "wrong" configuration that makes the directory structure to be parsed incorrectly.

I think it's the same issue as #21. Can you follow that thread and see if it works for you?

[2017-05-25 06:20] #40 closed

[2017-05-25 13:28] mnsanghvi commented on #41
I read through that thread and here is what I had changed:

My directory layout is as follows:

[code]

My original settings that worked are as follows:

[code]

And I did the following
[code]

Why does it make a difference if I make the following changes:

[code]
and than do
[code]

I do not use multiple accounts for work, but I have some other things in `~/Mail` from when I was using Mail.app th

[2017-05-25 13:36] agpchil commented on #41
This extension expects an extra directory that "simulates an account". In your case, if you setup mu/mu4e to use `~/Mail/Work` then you should have the directory layout like:

[code]

Note the extra `account` directory.

I think you will need to clear and re-index the database again if you change the directory layout.

[2017-05-25 16:42] mnsanghvi commented on #41
I did that, and things the world is all normal now :)

Now to find out if there is a way to make the Maildirs list be the first item showing up in `*mu4e-main*` buffer,  rather than as the 3rd item.

[2017-05-25 16:47] agpchil commented on #41
I'm glad it worked ;)

About the position,  the variable `mu4e-maildirs-extension-insert-before-str` allows you to customize where to insert the maildirs section.

[2017-05-25 16:48] mnsanghvi commented on #41
Thanks for the tip.

Issue closed.

[2017-05-25 16:48] #41 closed

[2017-10-19 06:09] flysands opened #42 "maildirs view get incorrect unread/total number. the value always 0/0."
with emacs debug, something wrong with the callback of mu4e-maildirs-extension-fetch function.buffer-string function return "[?25h[0G[K[?25h[0G[K      16", so the result value always 0.
#### System Info :computer:
- OS: darwin
- Emacs: 24.5.1
- Spacemacs: 0.200.9
- Spacemacs branch: master (rev. 8e1af14)
- Graphic display: t
- Distribution: spacemacs
- Editing style: vim
- Completion: helm

[2017-10-19 08:14] flysands commented on #42
call-process instead start-process-shell-command resolve this issue.

[2017-10-30 18:00] joostkremers opened #43 "Problem with maildirs with spaces after mu/mu4e update"
I pulled the latest changes to mu/mu4e (including the new query parser) the other day and now it seems `mu4e-maildirs-extension` isn't working properly anymore. Specifically, there are three mailboxes that receive new mail but where new mail is never reported.

It's probably not a coincidence that these three mailboxes have a space in their names, while the mailboxes that still work don't.

The ne

[2017-11-19 09:54] agpchil opened #45 "Looking for Maintainers"
Hey all :),

As you may have noticed, I've not been updating this package lately. Some people have been using it and contributed fixing issues (eg: compatibilty with to newer mu4e versions). But I've not put the attention mu4e-maildirs-extension deserves. That's why I'm looking for maintainers.

Meanwhile, I'll try to help solving some issues and merging PRs.

Thanks all

[2017-11-19 10:06] agpchil commented on #42
Sorry the for the late reply!
This project is currently looking for maintainers #45

[2017-11-19 10:08] agpchil commented on #43
Sorry the for the late reply!
This project is currently looking for maintainers #45

This may be related to issues #42 / #44

[2017-12-15 21:13] joostkremers commented on #43
I finally got round to looking at this issue myself. It seems that it's quite simple to fix. All I did was change the format string in `mu4e-maildirs-extensions-maildir-command` from `"%s %s"` to `"'%s %s'"`. You can check the commit here:

https://github.com/joostkremers/mu4e-maildirs-extension/commit/202d35d56bdc03457743a051f3ef3fbb6ca49fee

I don't know if this has any adverse effects, I only t

[2018-01-10 19:07] ayman commented on #43
Running `mu (mail indexer/searcher) version 1.0-alpha3` on `GNU Emacs 25.3.1 (x86_64-apple-darwin16.7.0, Carbon Version 157 AppKit 1504.83) of 2017-09-26` MacOS High Sierra I didn't see this issue.  The one mailbox I have with a space in it is on an Exchange backed IMAP server and seemed to work fine.  That said, I made your edit, rebytecompiled, and it seems fine too. Did you update your mu4e-mai

[2018-01-10 19:07] ayman commented on #45
I'd be happy to help out where I can when I can.

[2018-02-04 07:04] jdtonkin opened #46 "Rename maildir on mu4e main screen only"
Hi. Thanks for the great extension. Is there a way to change the name of a maildir on the mu4e main screen without changing the actual maildir name? i.e. Change '[Gmail].Drafts' to 'Drafts'?
Thanks!

[2018-04-25 18:35] mhcerri commented on #43
Pull request #47 should fix that.

[2018-04-28 07:05] agpchil commented on #46
You may need to write your own handler for that.
Check the docs section **Write your own maildir format handler** from the README:

https://github.com/agpchil/mu4e-maildirs-extension#write-your-own-maildir-format-handler

[2018-05-05 18:14] wilhelmy commented on #26
I'm running into the same issue. This is typically how subdirectories to Maildir are implemented (Maildir++), so if you're e.g. reading mail directly from ~/Maildir where your MTA drops it off, it breaks. Even if you don't intend your extension to be used this way, it shouldn't raise a cryptic error when it fails to handle a Maildir in my opinion.

As far as I've investigated, `(mu4e-maildirs-exte

[2018-05-09 21:07] gpcf commented on #26
I can also confirm this bug. I installed maildirs-extensions today from melpa and mu4e wouldn't start due to exactly this same issue. It went away after removing /cur, /new and /tmp from my root maildir.

[2019-03-21 19:11] haji-ali opened #49 "Is there a way to hide trashed messages?"
Gmail seems to mark messages with the `trash` tag rather than move them to a `trash` folder.
However, the automatic filters that maildirs adds to the `mu4e:main` view do not filter out trashed messages so I end up with a lot of trashed messages in my inbox.

Is there a way to customized the filters that maildirs adds to the `mu4e:main` view?

[2019-03-22 09:43] agpchil commented on #49
hmm.. I don't remember seeing this issue while testing with gmail. I think `offlineimap` or so usually takes care of that and places the trashed messages in the Trash folder. Maybe something has changed since then?

I don't think there is a way to customize that but you could try the following workarounds and see if it works:
1. customize the variable `mu4e-maildirs-extension-count-command-format`

[2019-12-28 07:09] cryoguy opened #50 "emacs 26.3 and new mu 1.3.5"
Is anybody experiencing any issue with emacs 26 and most recent mu update (1.3.5)?

[2019-12-30 11:05] agpchil commented on #50
Last version I tried was emacs 26.3 and mu 1.2.0. But emacs should not crash anyway.
Does it work without `mu4e-maildirs-extension`?

djcb/mu#1534

[2019-12-30 11:20] wedens commented on #50
I don't have any issues with emacs 27, latest mu4e-maildirs-extension and mu 1.3.5.

[2020-01-02 18:18] cryoguy commented on #50
I have to uninstall noto-emoji font to fix the issue!

[2020-01-02 18:18] #50 closed

[2020-02-27 16:10] innerout opened #52 "mu4e-git compatibility broken"
Something has changed in the mu4e-git version and when mu4e-maildirs-extension runs along mu4e  mu4e-main view becomes empty.

[2020-03-01 18:44] eigengrau commented on #52
I just upgraded mu4e to 2fd80584. mu4e’s main-view looks okay to me, it’s just that the maildirs list is not rendered:

[code]

It looks like that variable is public API now (`mu4e-main-buffer-name`). After changing the variable reference accordingly, opening mu4e’s main view indeed results in an empty buffer. In the message buffer I see:

[code]

Toggling edebug on `mu4e-maildirs-extension-update

[2020-04-10 08:24] agpchil commented on #52
This should be fixed in #53. Feel free to reopen if you need.
Thank you!

[2020-04-10 08:24] #52 closed

[2020-11-29 14:14] agpchil opened #56 "Upstream"
I just found that @seanfarley sent a PR djcb/mu#1586 to upstream to implement this functionality. Big thanks to @seanfarley and @djcb  for their work!

AFAIK their implementation uses the *"new feature"* in mu/mu4e to fetch `unread/total` counts using the daemon (ping/pong) instead of shell commands. Much more cleaner.

Looks like currently only `bookmarks` is available in the release.

But I thin

[2020-11-29 19:53] tychobrailleur commented on #56
Bitter-sweet moment, thank you so much for what you've done on this package, @agpchil.

[2020-12-23 20:45] ayman commented on #56
Well it was very fun contributing to this project (as it was using it)! Thanks @agpchil!

[2021-04-14 10:27] jesusbv commented on #42
Hi @flysands

Tried that, no luck. I checked and no spaces in maildirs either.

Any clue/suggestion on how to solve it or debug it would be much appreciated.

[2021-08-04 15:10] ayman commented on #56
mu4e 1.6.1 dropped: maildirs and bookmarks now show counts and unread counts.

[2021-08-04 16:10] agpchil commented on #56
Awesome! thanks for the heads up @ayman!

[2022-05-28 20:12] emacsomancer opened #58 "mu4e--main-action-str"
At least for recent version of mu4e, I think `mu4e--main-action-str`should instead be `mu4e~main-action-str`; maybe a version check is necessary?

[2022-05-29 07:05] agpchil commented on #58
@emacsomancer probably related to #57.

Feel free to submit a PR if you want.